# Database
DB_HOST=mysql
DB_NAME=movieflex_db
DB_USER=movieplex_user
DB_PASSWORD=secret
MYSQL_ROOT_PASSWORD=rootsecret

# App
APP_ENV=development
BASE_URL=http://localhost:8080

# Mail (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_FROM_NAME=MoviePlex

MAIL_DEV_MODE=false